<a href="https://colab.research.google.com/github/ethankyle360/ML_projects/blob/main/python_fundamentals_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
cars=pd.read_csv('cars.csv')

cars.head()
cars.columns

Index(['name', 'sports_car', 'suv', 'wagon', 'minivan', 'pickup', 'all_wheel',
       'rear_wheel', 'Price', 'Dealer_Cost', 'Engine_size', 'cylenders',
       'horsepower', 'city_miles_per_galloon', 'highway_miles_per_Gallon',
       'weight', 'base_wheeel', 'length', 'width'],
      dtype='object')

In [4]:
#1 - How many rows are in the car's dataset?
cars.shape[0]

428

In [5]:
#2 - How many columns are in the car's dataset?
cars.shape[1]

19

In [9]:
#3 - How many unique numbers of cylinders do we have in the car's dataset?
cars.cylenders.value_counts()

cylenders
 6     190
 4     136
 8      87
 5       7
 12      3
 10      2
-1       2
 3       1
Name: count, dtype: int64